<div class="mx-auto" style="max-width: 36rem;">
    <h1 class="h4 fw-bold mb-3"><%= title %></h1>
    <a class="btn btn-primary" href="<%= adminPluginBase %>">Админка плагина</a>
</div>
<%- eeWidget('example:demo-public') %>
