<div class="card border-0 shadow-sm h-100">
    <div class="card-body">
        <h3 class="h6 card-title mb-3">example</h3>
        <a class="btn btn-sm btn-outline-primary" href="<%= appPluginBase %>">Раздел плагина</a>
    </div>
</div>
